<td>
  {{rowData.id | slice:0:8 }}
</td>

<!-- ELECTION TYPE -->
<td>
  <form [formGroup]="rowFormGroup">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="election_type">
      <label ngbButtonLabel class="btn-outline-primary" [ngClass]="{'btn-outline-danger': rowFormGroup.controls.election_type.invalid}">
        <input ngbButton type="radio" value="aswwu"> ASWWU
      </label>
      <label ngbButtonLabel class="btn-outline-primary" [ngClass]="{'btn-outline-danger': rowFormGroup.controls.election_type.invalid}">
        <input ngbButton type="radio" value="senate"> Senate
      </label>
    </div>
  </form>
</td>

<!-- POSITION TITLE -->
<td>
  <form [formGroup]="rowFormGroup">
    <div class="form-group">
      <div class="input-group">
        <input id="position" class="form-control" placeholder="Position title" formControlName="position" [ngClass]="{'is-invalid': rowFormGroup.controls.position.invalid}">
      </div>
    </div>
  </form>
</td>

<!-- ACTIVE -->
<td>
  <form [formGroup]="rowFormGroup">
    <div class="btn-group btn-group-toggle">
      <label ngbButtonLabel class="btn-outline-primary">
        <input ngbButton type="checkbox" formControlName="active">Active
      </label>
    </div>
  </form>
</td>

<!-- ORDER -->
<td>
  <form [formGroup]="rowFormGroup">
    <div class="form-group">
      <div class="input-group">
        <input id="order" class="form-control" type="number" placeholder="Number" formControlName="order" [ngClass]="{'is-invalid': rowFormGroup.controls.order.invalid}">
      </div>
    </div>
  </form>
</td>

<!-- SAVE -->
<td>
  <form [formGroup]="rowFormGroup" (ngSubmit)="saveRow()">
    <button type="submit" class="btn btn-success" [disabled]="rowFormGroup.invalid" [ngClass]="{'btn-danger': rowFormGroup.dirty}">Save</button>
  </form>
</td>
