h1, h2, h4 {
    height: auto;
    width: auto;
}

/* @media (max-width:576px) {
    h1 {
      font-size: 1.2rem;
    }
}
@media (min-width:576px) {
    h1 {
      font-size: 1.4rem;
    }
}
@media (min-width:768px) {
    h1 {
      font-size: 2rem;
    }
}
@media (min-width:992px) {
    h1 {
      font-size: 3rem;
    }
} */