<div class="container-fluid">
  <header [admin]="admin"></header>
  <div class="container">
    <div *ngIf="status=='none'">
      <h2 class="text-center text-uppercase">No Elections<br>{{status}}</h2>
    </div>
    <div *ngIf="response">
      <div *ngIf="status=='upcoming'">
      <h1 class="text-center text-uppercase">{{getElectionType(response.election_type)}}</h1>
          <h4 class="text-center text-uppercase">Starts: {{getDateTime(dates['start'])}}</h4>
          <h4 class="text-center text-uppercase">Ends: {{getDateTime(dates['end'])}}</h4>
          <countdown [status]="status" [dates]="dates"></countdown>
          {{status}}
      </div>
    </div>
    <div *ngIf="response">
      <div *ngIf="status=='now'">
        <h1 class="text-center text-uppercase">{{getElectionType(response.election_type)}}</h1>
        <a *ngIf="isLoggedIn" href="vote" class="btn btn-primary btn-block btn-lg" role="button">Vote Now!</a>
        <a *ngIf="!isLoggedIn" class="btn btn-primary btn-block btn-lg" [href]="'https://saml.aswwu.com/?redirectURI=/elections'+ router.url">Log in</a>
        <countdown [status]="status" [dates]="dates"></countdown>
        {{status}}
      </div>
    </div>
  </div>
</div>