[submodule "src/app/shared-ng-components"]
	path = src/app/shared-ng-components
	url = git@github.com:ASWWU-Web/shared-ng-components.git
[submodule "src/app/shared-ng-services"]
	path = src/app/shared-ng-services
	url = git@github.com:ASWWU-Web/shared-ng-services.git
