.scrollable {
    overflow-x: auto;
    overflow-y: hidden;
}

.btn-nowrap {
    white-space: normal;
}

.disabled {
    background-color: gray;
    color: white;
}

.disabled-photo {
    filter: opacity(.5);
}