<br>
<div class="container">
  <ngb-tabset>
    <ngb-tab title="Elections">
      <ng-template ngbTabContent>
        <p>Note: time must be entered in a 24-hour format (5pm = 17:00, 8am = 08:00)</p>
        <app-admin-elections [data]="electionsData"></app-admin-elections>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Positions">
      <ng-template ngbTabContent>
        <app-admin-positions [data]="positionsData"></app-admin-positions>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>