.scrollable {
    overflow-x: auto;
    overflow-y: hidden;
}

.btn-nowrap {
    white-space: normal;
}

.disabled {
    background-color: gray;
    color: white;
}

.disabled-photo {
    filter: opacity(.5);
}

.submissionStatus {
    font-family: var(--font-1);
    font-size: 2rem;
}

/* specifisity is needed here in order to keep tab color from changing  */
div.card-header ul.no_change li.nav-item a.nav-link.no_change {
    color: black;
}