<p>
  admin-table works!
</p>

<table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let header of data[0] | keyvalue" scope="col">{{header.key}}</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data; trackBy:row">
        <td *ngFor="let item of row | keyvalue">{{item.value}}</td>
        <!-- <td *ngFor="let action of actions"><button class="btn btn-primary">{{action}}</button></td> -->
        <td><button *ngFor="let action of actions" class="btn btn-primary">{{action}}</button></td>
      </tr>
    </tbody>
  </table>