<!-- modal header -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">New Ballot Entry</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()"><i class="fas fa-times"></i></button>
</div>

<!-- modal body -->
<div class="modal-body">
  <form [formGroup]="ballotForm">
    <div formArrayName="positions">
      <div *ngFor="let position of ballotForm.get('positions')['controls']; let p = index" [formGroupName]="p">
        <h2>{{positionsData[p].position}}</h2>
        <!-- candidates -->
        <div formArrayName="candidates" class="mb-3">
          <div *ngFor="let candidate of position.get('candidates').controls; let c = index" [formGroupName]="c">
            <input type="checkbox" formControlName="candidate">
            {{getCandidates(positionsData[p])[c].display_name}}
          </div>
        </div>
        <!-- write ins -->
        <div formArrayName="writeins">
          <div *ngFor="let writeins of position.get('writeins').controls; let w = index" [formGroupName]="w" class="input-group mb-3">
            <input type="search" formControlName="writein" placeholder="Write-in candidate" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- footer -->
<div class="modal-footer">
  <!-- save and close button -->
  <form [formGroup]="ballotForm" (ngSubmit)="onSaveBallot()">
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
