<td>
    {{rowData.id | slice:0:8 }}
  </td>

  <td>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Position</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <form [formGroup]="rowFormGroup">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="position">
            <label *ngFor="let position of positions" ngbButtonLabel class="btn-primary">
              <input ngbButton class="dropdown-item" type="radio" value="{{position.id}}">{{position.position}}
            </label>
          </div>
        </form>
      </div>
    </div>
  </td>

  <pre>{{rowFormGroup.value | json}}</pre>